<% title "This website was created by Giovani Camara of Sonoma Web Design Group"%>
<% meta_description "This website was built with ruby on rails, html,css and other modern web technology."%>

<div class="container">
<h1>Credits</h1>
<p class="ma-p ma-p--default">Hey, we're the creators behind this website... Thanks for stopping by! </p>
<div class="row">
<div class="col-sm-6">
<h2>Giovani Camara</h2>
	<img src="https://s3-us-west-1.amazonaws.com/recipe-app-gio/recipes/images/000/000/008/medium/gio.jpg" width="350px" class="img-responsive" alt="Giovani">
	<h3>Web Developer / Programming</h3>
	<p><a href="http://websonoma.com" target="_blank">Sonoma Web Design Group</a></p>
</div>
<div class="col-sm-6">
	<h2>Kyle O'Brien</h2>
	<img src="https://s3-us-west-1.amazonaws.com/recipe-app-gio/recipes/images/000/000/008/medium/kyle.jpg" class="img-responsive" alt="kyle" width="350px">
<h3>Content Development / Data Entry</h3>
</div>
</div>
</div>

<p class="space-10"></p>