<% title "This website was created by Giovani Camara of Sonoma Web Design Group"%>
<% meta_description "This website was built with ruby on rails, html,css and other modern web technology."%>

<div class="container">
<h1>Creators of the Sonoma Proud Website</h1>
<p class="ma-p ma-p--default">Thanks you for stopping by!</p>
<div class="row">
<div class="col-sm-12">
<h2>Brought too you by two great friends... not interested in credits. But, instead interested in helping out a community. 💪</h2>
:)
</div>
</div>
<p class="space-10"></p>
