<% title "How can we give back to these sonoma county businesses? | Sonoma Proud | Helpful links  | Sonoma, CA" %>
<div class="container ma-p ma-p--default">
<h1>How can we give back to these businesses?</h1>
<h2>A couple easy solution</h2>
<h3><strong>Solution 1</strong></h3>
<p class="container ma-p ma-p--default">Make these your businesses of choice in the future whenever you need to make purchases.</p>

<h3><strong>Solution 2 ✨</strong></h3>
<p class="container ma-p ma-p--default">Follow these companies on social media and spread some love on their facebook and google pages. By that I mean leave them 5 star reviews and spread the word for these businesses. We gotta support our community and spread the love amongst eachothers. It's been proven that we're more likely to visit a business if it has 5 star reviews... so go leave a review!</p>
<p><small>(p.s this one is very important...please please do this!)</small></p>

<h3><strong>Solution 3</strong></h3>
<p class="container ma-p ma-p--default">Write them a thank you letter!</p>

<hr>

<p class="container ma-p ma-p--default">#SonomaProud #SonomaStrong #AlwaysLove</p>

</div>