<% title "Support Local Small Businesses Whose Owners Lost Homes" %>
<% meta_description "Some of these owners lost homes and continued to offer services to help others in need. Please donate to these local business owners to help them get back on their feet." %>


<div class="touch">
	<section aria-label="Website Banner featuring a search bar" class="" id="section-banner_1">
		<div class="section-banner_wrapper">
			<div class="section-banner-background_img padding4">
				<div class="section-banner_content container titles-section">
					<p class="section-banner_h1 ma-p ma-p--large"><strong>Support Local Small Businesses Whose Owners Lost Homes</strong></p>
					<p class="section-banner_h2 ma-p ma-p--default break-word">Some of these owners lost homes and continued to offer services to help others in need. Please donate to these local business owners to help them get back on their feet.</p>
				</div>
			</div>
		</div>
	</section>
	<div class="container">
		<h1>List of Businesses Whose Owners Lost Homes</h1>
		<h2 class="ma-p ma-p--default space-3 space-top-6">These businesses need our support more than ever!</h2>
		<p class="ma-p ma-p--default break-word">How you can help: 1) Shop local, 2)Pay in cash if you can, 3) Support people who are serving the community after losing their homes and help add to this list. Thank you! #SonomaProud #SonomaStrong</p>
		<div class="row display-flex">
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>A1 Builders</h2>
					<p class="ma-p ma-p--default break-word">Contractor/Construction</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">https://a-1builders.com/</p>
					<p class="ma-p ma-p--default break-word">Owners lost home. email is only contact for work, as the business was out of home.</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>A1 Compressor</h2>
					<p class="ma-p ma-p--default break-word">Winery air compressor service</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">3100 Dutton Ave., Unit 134</p>
					<p class="ma-p ma-p--default break-word">707-586-1513</p>
					<p class="ma-p ma-p--default break-word">Owner Wayne Toress lost home in Fountain Grove</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Absolute Quality Auto Body</h2>
					<p class="ma-p ma-p--default break-word">Auto Repair</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Ace Hardware (Fulton & Guerneville)</h2>
					<p class="ma-p ma-p--default break-word">Hardware</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Advanced Auto Glass & Detail</h2>
					<p class="ma-p ma-p--default break-word">Auto</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Aesthetic Laser and Vein</h2>
					<p class="ma-p ma-p--default break-word">Santa Rosa and Napa</p>
					<p class="ma-p ma-p--default break-word">70 Stony Point Rd., Ste G</p>
					<p class="ma-p ma-p--default break-word">laserandvein.com</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Artemedica</h2>
					<p class="ma-p ma-p--default break-word">Plastic Surgery</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Ausiello's</h2>
					<p class="ma-p ma-p--default break-word">Bar</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">5th Street</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Axia Architects</h2>
					<p class="ma-p ma-p--default break-word">Architects</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Bear Flag Insurance</h2>
					<p class="ma-p ma-p--default break-word">Insurance</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Bill and Jay's Auto Shop</h2>
					<p class="ma-p ma-p--default break-word">Auto body</p>
					<p class="ma-p ma-p--default break-word">Petaluma</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Brookstone</h2>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">1027 Santa Rosa Plaza</p>
					<p class="ma-p ma-p--default break-word">(707)526-5233</p>
					<p class="ma-p ma-p--default break-word">Store Manager lost his home in coffey park, His Name is Nate.</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Buns & Burgers, Larkfield</h2>
					<p class="ma-p ma-p--default break-word">Restaurant</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Cal Skate</h2>
					<p class="ma-p ma-p--default break-word">Play</p>
					<p class="ma-p ma-p--default break-word">Rohnert Park</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>California Horse Supply</h2>
					<p class="ma-p ma-p--default break-word">Animals/Horse</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Canine Companions for Independence</h2>
					<p class="ma-p ma-p--default break-word">Non-profit</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">3 staff members lost homes; numerous puppy raisers and other volunteers lost their homes</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Capri Hair Studio</h2>
					<p class="ma-p ma-p--default break-word">Beauty/Spa/Nails/Hair</p>
					<p class="ma-p ma-p--default break-word">Windsor</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Capricorn Automotive</h2>
					<p class="ma-p ma-p--default break-word">Auto Repair</p>
					<p class="ma-p ma-p--default break-word">Healdsburg</p>
					<p class="ma-p ma-p--default break-word">30 Mill St Unit E</p>
					<p class="ma-p ma-p--default break-word">http://capricornautomotive.com/</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Carlile Macy</h2>
					<p class="ma-p ma-p--default break-word">Engineering, Surveying, Land Planning</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">15 W 3rd Street</p>
					<p class="ma-p ma-p--default break-word">www.carlilemacy.com</p>
					<p class="ma-p ma-p--default break-word">(707) 542-6451</p>
					<p class="ma-p ma-p--default break-word">Co-owner/President and two employees lost homes</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Carol Shelton Wines</h2>
					<p class="ma-p ma-p--default break-word">Winery</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">3354-B Coffey Lane</p>
					<p class="ma-p ma-p--default break-word">www.carolshelton.com</p>
					<p class="ma-p ma-p--default break-word">Owners and at least 1 employee lost their homes.</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>CASCO</h2>
					<p class="ma-p ma-p--default break-word">Restaurant appliance repair</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">707-544-5200</p>
					<p class="ma-p ma-p--default break-word">Owner lost home & work truck</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Cash for gift cards</h2>
					<p class="ma-p ma-p--default break-word">Retail</p>
					<p class="ma-p ma-p--default break-word">Santa rosa</p>
					<p class="ma-p ma-p--default break-word">320 W 3rd S Santa Rosa, CA 95401</p>
					<p class="ma-p ma-p--default break-word">cashforgiftcardssantarosa.com</p>
					<p class="ma-p ma-p--default break-word">(707) 583-5744</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Cell Depot Verizon Premium Retailer</h2>
					<p class="ma-p ma-p--default break-word">Wireless Provider/Retailers</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa/Sonoma/Petaluma/ <br>Sebastopol/Rohnert Park/Greenbrae/Novato</p>
					<p class="ma-p ma-p--default break-word">celldepotonline.com</p>
					<p class="ma-p ma-p--default break-word">(707) 568-8800</p>
					<p class="ma-p ma-p--default break-word">Both owners (Bill and Scott) lost their homes as well as one of their district managers (Kevin)</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Charles M. Schulz Museum</h2>
					<p class="ma-p ma-p--default break-word">Museum</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>China Bowl Bistro</h2>
					<p class="ma-p ma-p--default break-word">Restaurant</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">Piner Road</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Chris Henry Artist</h2>
					<p class="ma-p ma-p--default break-word">Artist</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">www.chrishenryfineart.com</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>ChromaGraphics</h2>
					<p class="ma-p ma-p--default break-word">Graphics</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Chun Family Dentistry</h2>
					<p class="ma-p ma-p--default break-word">Dentist</p>
					<p class="ma-p ma-p--default break-word">Windsor</p>
					<p class="ma-p ma-p--default break-word">8260 Old Redwood Hwy #101</p>
					<p class="ma-p ma-p--default break-word">windsorcadentist.com</p>
					<p class="ma-p ma-p--default break-word">(707)838-6697</p>
					<p class="ma-p ma-p--default break-word">Two of the dentists in this office lost homes</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Clementine The Amazing Face Painting</h2>
					<p class="ma-p ma-p--default break-word">Other</p>
					<p class="ma-p ma-p--default break-word">?</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Cloverleaf Ranch</h2>
					<p class="ma-p ma-p--default break-word">Camp for Kids</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Cokas Diko</h2>
					<p class="ma-p ma-p--default break-word">Home supplies</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Comet Construction</h2>
					<p class="ma-p ma-p--default break-word">Construction</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Cotati Rohnert Park Physical Therapy</h2>
					<p class="ma-p ma-p--default break-word">Physical Therapy</p>
					<p class="ma-p ma-p--default break-word">Cotati</p>
					<p class="ma-p ma-p--default break-word">7840 Old Redwood Hwy</p>
					<p class="ma-p ma-p--default break-word">707-795-1636</p>
					<p class="ma-p ma-p--default break-word">Owners lost home.</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Dan Prince, CPA</h2>
					<p class="ma-p ma-p--default break-word">Accounting</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">dprincecpa.com</p>
					<p class="ma-p ma-p--default break-word">(707) 526-7578</p>
					<p class="ma-p ma-p--default break-word">Personal and business accounting</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Dave Townsend</h2>
					<p class="ma-p ma-p--default break-word">Physical Therapist</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Discount Vacuum & Sewing</h2>
					<p class="ma-p ma-p--default break-word">Repair</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Dr Daniel King Acupuncture</h2>
					<p class="ma-p ma-p--default break-word">Acupuncture</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">1144 Sonoma Ave # 106</p>
					<p class="ma-p ma-p--default break-word">707.526.6426</p>
					<p class="ma-p ma-p--default break-word">Daniel lost his house.</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Dr. Jim Judevine</h2>
					<p class="ma-p ma-p--default break-word">Chiropractic</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Dryscape Materials</h2>
					<p class="ma-p ma-p--default break-word">Landscape materials</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">3980 Santa Rosa Ave</p>
					<p class="ma-p ma-p--default break-word">707-206-0356</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Econoline Signs, Inc.</h2>
					<p class="ma-p ma-p--default break-word">Printing, Signage, Graphics</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">3196 Coffey Lane, Ste 602</p>
					<p class="ma-p ma-p--default break-word">econolinesigns.com</p>
					<p class="ma-p ma-p--default break-word">707-542-3086</p>
					<p class="ma-p ma-p--default break-word">dick@econolinesigns.com and steve@econolinesigns.com</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Economy Lock & Key</h2>
					<p class="ma-p ma-p--default break-word">Locksmith</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">at least one employee lost home in Coffey Park</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>El Patio Taqueira #2</h2>
					<p class="ma-p ma-p--default break-word">Restaurant</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">901 4th Street</p>
					<p class="ma-p ma-p--default break-word">www.elpatio2.com</p>
					<p class="ma-p ma-p--default break-word">707-571-2222</p>
					<p class="ma-p ma-p--default break-word">Owner lost house, still came to work and gave food to needy.</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Empire Floors</h2>
					<p class="ma-p ma-p--default break-word">Flooring</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">1735 Piner Road</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>EV Floral</h2>
					<p class="ma-p ma-p--default break-word">Floral</p>
					<p class="ma-p ma-p--default break-word">St. Helena</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Fandees</h2>
					<p class="ma-p ma-p--default break-word">Restaurant</p>
					<p class="ma-p ma-p--default break-word">Sebastopol</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Fatima Electric and Solar</h2>
					<p class="ma-p ma-p--default break-word">Solar</p>
					<p class="ma-p ma-p--default break-word">Sonoma County</p>
					<p class="ma-p ma-p--default break-word">707-775-7138</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Fine Art & Frame</h2>
					<p class="ma-p ma-p--default break-word">Framer</p>
					<p class="ma-p ma-p--default break-word">Petaluma</p>
					<p class="ma-p ma-p--default break-word">Kentucky Street</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Friedmans Home Improvement</h2>
					<p class="ma-p ma-p--default break-word">Hardware</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa/Petaluma</p>
					<p class="ma-p ma-p--default break-word">CEO lost home, making big effort to help local community</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Fulton Body Shop</h2>
					<p class="ma-p ma-p--default break-word">Body and Paint</p>
					<p class="ma-p ma-p--default break-word">St Helena</p>
					<p class="ma-p ma-p--default break-word">1012 Fulton Rd</p>
					<p class="ma-p ma-p--default break-word">http://www.fultonbodyshop.com/</p>
					<p class="ma-p ma-p--default break-word">Napa County Business/Santa Rosa Resident</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Furniture 21</h2>
					<p class="ma-p ma-p--default break-word">Furniture</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">3575 Cleveland Ave</p>
					<p class="ma-p ma-p--default break-word">Owners lost their house</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>G&C Auto Body</h2>
					<p class="ma-p ma-p--default break-word">Auto Repair</p>
					<p class="ma-p ma-p--default break-word">Sonoma County</p>
					<p class="ma-p ma-p--default break-word">251 Bellevue Ave</p>
					<p class="ma-p ma-p--default break-word">www.gandcautobody.com</p>
					<p class="ma-p ma-p--default break-word">707-525-3520</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Galvin Precision Machining</h2>
					<p class="ma-p ma-p--default break-word">Machine Shop</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">http://www.galvinprecision.com/about.html</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Gio's Pizza</h2>
					<p class="ma-p ma-p--default break-word">restaurant</p>
					<p class="ma-p ma-p--default break-word">Bennett Valley</p>
					<p class="ma-p ma-p--default break-word">2700 Yulupa Ave. #5</p>
					<p class="ma-p ma-p--default break-word">(707)542-2797</p>
					<p class="ma-p ma-p--default break-word">owner for sure lost his home. not sure about the employees.</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Gio's Pizza</h2>
					<p class="ma-p ma-p--default break-word">Restaurant</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">Yulupa</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Goji Kitchen</h2>
					<p class="ma-p ma-p--default break-word">Restaurant</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">1901 Mendocino @ Steele</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Grund Chiropractic</h2>
					<p class="ma-p ma-p--default break-word">Chiropractor</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">182 Farmers Ln</p>
					<p class="ma-p ma-p--default break-word">http://www.drgrund.com/</p>
					<p class="ma-p ma-p--default break-word">(707)-575-5577</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Gw2 Printing and Graphics</h2>
					<p class="ma-p ma-p--default break-word">Printing/Graphics</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">Owners lost home</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>GWS Landscapes</h2>
					<p class="ma-p ma-p--default break-word">Landscape maintenance</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">707-318-1164</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Halem & Co de Sonoma</h2>
					<p class="ma-p ma-p--default break-word">Jewelry</p>
					<p class="ma-p ma-p--default break-word">Sonoma</p>
					<p class="ma-p ma-p--default break-word">Sonoma Plaza</p>
					<p class="ma-p ma-p--default break-word">707-935-8126</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Heritage Veterinary Hospital</h2>
					<p class="ma-p ma-p--default break-word">Vet/Animals</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Homerun Pizza</h2>
					<p class="ma-p ma-p--default break-word">Restaurant</p>
					<p class="ma-p ma-p--default break-word">Larkfield</p>
					<p class="ma-p ma-p--default break-word">Owners lost their home</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>HomeStyle Furniture</h2>
					<p class="ma-p ma-p--default break-word">Furniture</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">3515 Industrial Dr.</p>
					<p class="ma-p ma-p--default break-word">(707)-578-5652</p>
					<p class="ma-p ma-p--default break-word">Owners lost their home</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Isocert Solutions</h2>
					<p class="ma-p ma-p--default break-word">Engineering</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">www.isocertsolutions.com</p>
					<p class="ma-p ma-p--default break-word">Owners lost their home</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Jackson's Bar</h2>
					<p class="ma-p ma-p--default break-word">Restaurant</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">4th & Davis, RR Square</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Jaiyen Spa</h2>
					<p class="ma-p ma-p--default break-word">Beauty/Spa/Nails/Hair</p>
					<p class="ma-p ma-p--default break-word">Sebastopol</p>
					<p class="ma-p ma-p--default break-word">Jaiyenspa.com</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Jason Krist Electric</h2>
					<p class="ma-p ma-p--default break-word">Contractor</p>
					<p class="ma-p ma-p--default break-word">Sonoma County</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Jeffrey's Hillside Cafe</h2>
					<p class="ma-p ma-p--default break-word">Restaurant</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">2901 4th Street Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">jeffreyshillsidecafe.com</p>
					<p class="ma-p ma-p--default break-word">707-546-6317</p>
					<p class="ma-p ma-p--default break-word">Owners lost their home in Coffey Park</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>JF Lighting</h2>
					<p class="ma-p ma-p--default break-word">Interior Lighting Design</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">1378 Airport Blvd</p>
					<p class="ma-p ma-p--default break-word">http://www.jflighting.com/</p>
					<p class="ma-p ma-p--default break-word">7075457944</p>
					<p class="ma-p ma-p--default break-word">Both owners, Dean/Lyz Wiggins and Julie/Floyd Wigins lost their homes.</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>John's Formica Shop</h2>
					<p class="ma-p ma-p--default break-word">Retail</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>KC's American Kitchen</h2>
					<p class="ma-p ma-p--default break-word">Restaurant</p>
					<p class="ma-p ma-p--default break-word">Windsor</p>
					<p class="ma-p ma-p--default break-word">9501 Duvander Ln, Windsor</p>
					<p class="ma-p ma-p--default break-word">707-838-7800</p>
					<p class="ma-p ma-p--default break-word">Owners lost home in Fountain Grove</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Kin Restaurant</h2>
					<p class="ma-p ma-p--default break-word">Restaurant</p>
					<p class="ma-p ma-p--default break-word">Windsor</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>La Texanita</h2>
					<p class="ma-p ma-p--default break-word">Restaurant</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Lala's Creamery</h2>
					<p class="ma-p ma-p--default break-word">Restaurant</p>
					<p class="ma-p ma-p--default break-word">Petaluma</p>
					<p class="ma-p ma-p--default break-word">134 Petaluma Blvd N, Petaluma, CA 94952</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Larkfield Cleaners</h2>
					<p class="ma-p ma-p--default break-word">Cleaners</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Larsen Auto Care</h2>
					<p class="ma-p ma-p--default break-word">Auto repair</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Leading Edge Salon</h2>
					<p class="ma-p ma-p--default break-word">Beauty/Hair/Nails/Spa</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Lee's Noodle House</h2>
					<p class="ma-p ma-p--default break-word">Restaurant</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">Hopper</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Loveland Violins</h2>
					<p class="ma-p ma-p--default break-word">Retail</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Lupe's Diner</h2>
					<p class="ma-p ma-p--default break-word">Restaurant</p>
					<p class="ma-p ma-p--default break-word">Windsor</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Mai Vietnamese</h2>
					<p class="ma-p ma-p--default break-word">Restaurant</p>
					<p class="ma-p ma-p--default break-word">Cotati</p>
					<p class="ma-p ma-p--default break-word">8492 Gravenstein Hwy, Cotati</p>
					<p class="ma-p ma-p--default break-word">Next to old Buffalo Billiards</p>
					<p class="ma-p ma-p--default break-word">Owners and daughter lost both homes</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Mail & More</h2>
					<p class="ma-p ma-p--default break-word">Mail</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Major Muffler</h2>
					<p class="ma-p ma-p--default break-word">Mufflers</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">707-545-7477</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Mark West Community Preschool</h2>
					<p class="ma-p ma-p--default break-word">School</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Markell Inc</h2>
					<p class="ma-p ma-p--default break-word">Police Supply, Firearms, Streamlight Flashlights</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">1520 Mark West Springs Rd</p>
					<p class="ma-p ma-p--default break-word">Butch Markell - https://www.facebook.com/markellincorporated/</p>
					<p class="ma-p ma-p--default break-word">LOST BUSINESS AND HOME</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Mel's Fish & Chips</h2>
					<p class="ma-p ma-p--default break-word">Restaurant</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Mitchler Dental Care</h2>
					<p class="ma-p ma-p--default break-word">Dentist</p>
					<p class="ma-p ma-p--default break-word">Windsor</p>
					<p class="ma-p ma-p--default break-word">100 Windsor River Road</p>
					<p class="ma-p ma-p--default break-word">http://www.dazzlingteeth.com/</p>
					<p class="ma-p ma-p--default break-word">(707)838-1400</p>
					<p class="ma-p ma-p--default break-word">Dr. Mitchler lost his home</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Montecito Veterinary Center</h2>
					<p class="ma-p ma-p--default break-word">Animals</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">4900 Sonoma Hwy</p>
					<p class="ma-p ma-p--default break-word">(707) 539-2322</p>
					<p class="ma-p ma-p--default break-word">Majority of vets and many staff lost homes.</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Moxie A Salon</h2>
					<p class="ma-p ma-p--default break-word">Beauty/Spa/Nails/Hair</p>
					<p class="ma-p ma-p--default break-word">Cotati</p>
					<p class="ma-p ma-p--default break-word">1818 La Plaza, Suite 102</p>
					<p class="ma-p ma-p--default break-word">www.moxieasalon.com</p>
					<p class="ma-p ma-p--default break-word">707-794-9461</p>
					<p class="ma-p ma-p--default break-word">Owner lost home.</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Moxie's Yogurt and Toppings</h2>
					<p class="ma-p ma-p--default break-word">Restaurant</p>
					<p class="ma-p ma-p--default break-word">Windsor</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Mr. Rooter Plumbing</h2>
					<p class="ma-p ma-p--default break-word">Plumber</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">1025 No. Dutton Ave</p>
					<p class="ma-p ma-p--default break-word">707-327-2001</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>My Deli</h2>
					<p class="ma-p ma-p--default break-word">Restaurant</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Natural Clean Cleaners</h2>
					<p class="ma-p ma-p--default break-word">Dry Cleaning</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">1415 Fulton Rd - Raleys Town Center</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Naturalight Solar, Inc.</h2>
					<p class="ma-p ma-p--default break-word">Skylights, Sun Tunnels, Construction</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">Larkfield Center</p>
					<p class="ma-p ma-p--default break-word">naturalightsolar.com</p>
					<p class="ma-p ma-p--default break-word">Owners lost home.</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Northtown Animal Hospital</h2>
					<p class="ma-p ma-p--default break-word">Vet/Animals</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Nu Forest Products</h2>
					<p class="ma-p ma-p--default break-word">Wholesale Lumber</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Nunley Engineering</h2>
					<p class="ma-p ma-p--default break-word">Dirt & Foundation Work</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Oasis Salon (Guerneville & Fulton)</h2>
					<p class="ma-p ma-p--default break-word">Beauty/Spa/Nails/Hair</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>On Tap Beer Tours</h2>
					<p class="ma-p ma-p--default break-word">Transportation Co.</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>One Day Labs</h2>
					<p class="ma-p ma-p--default break-word">Web design</p>
					<p class="ma-p ma-p--default break-word">Sonoma County</p>
					<p class="ma-p ma-p--default break-word">https://onedaylabs.com</p>
					<p class="ma-p ma-p--default break-word">(855) 707-4111</p>
					<p class="ma-p ma-p--default break-word">Owners lost home in Coffey Park</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Orion Protection Services Group Inc.</h2>
					<p class="ma-p ma-p--default break-word">Private Security</p>
					<p class="ma-p ma-p--default break-word">Sonoma County</p>
					<p class="ma-p ma-p--default break-word">415-499-4270</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Pack, Ship and More Inc.</h2>
					<p class="ma-p ma-p--default break-word">Mailbox Rental, Packaging, Shipp Notary</p>
					<p class="ma-p ma-p--default break-word">Windsor</p>
					<p class="ma-p ma-p--default break-word">228 Windsor River Rd</p>
					<p class="ma-p ma-p--default break-word">http://www.packandshipwindsor https://www.facebook.com/Pack-Ship-More-616372148436005/</p>
					<p class="ma-p ma-p--default break-word">707-838-3727</p>
					<p class="ma-p ma-p--default break-word">Owner lost home in Coffee Park. We open 6 days a week and are helping those who lost their homes in their fire open a mail box forward mail.</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Pamposh Restaurant</h2>
					<p class="ma-p ma-p--default break-word">Restaurant</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">52 Mission Cir #110</p>
					<p class="ma-p ma-p--default break-word">(707) 538-3367</p>
					<p class="ma-p ma-p--default break-word">Owners lost home in fire.</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Pawn Advantage</h2>
					<p class="ma-p ma-p--default break-word">Pawn Shop</p>
					<p class="ma-p ma-p--default break-word">Petaluma</p>
					<p class="ma-p ma-p--default break-word">157 Petaluma Blvd</p>
					<p class="ma-p ma-p--default break-word">(707) 763-7296</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Plastic Surgery Associates and Allegro Med Spa</h2>
					<p class="ma-p ma-p--default break-word">Plastic Surgery</p>
					<p class="ma-p ma-p--default break-word">Rincon Valley</p>
					<p class="ma-p ma-p--default break-word">4625 Quigg Dr Santa Rosa, CA 95409</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Platinum Nail Lounge</h2>
					<p class="ma-p ma-p--default break-word">Beauty/Spa/Nails/Waxing/Eyelashes</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">397 Aviation Blvd # C</p>
					<p class="ma-p ma-p--default break-word">www.platinumnaillounge.com</p>
					<p class="ma-p ma-p--default break-word">707-293-9035</p>
					<p class="ma-p ma-p--default break-word">Owners lost Home platinumnaillounge@gmail.com</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Plaza Gourmet</h2>
					<p class="ma-p ma-p--default break-word">Retail (Kitchen Store)</p>
					<p class="ma-p ma-p--default break-word">Healdsburg</p>
					<p class="ma-p ma-p--default break-word">108 Matheson St</p>
					<p class="ma-p ma-p--default break-word">Healdsburgkitchenstore.com</p>
					<p class="ma-p ma-p--default break-word">(707) 433-7116</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>PolicyNow Insurance Services</h2>
					<p class="ma-p ma-p--default break-word">Insurance</p>
					<p class="ma-p ma-p--default break-word">Sonoma County</p>
					<p class="ma-p ma-p--default break-word">Larkfield Center</p>
					<p class="ma-p ma-p--default break-word">800-822-7005</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Rancho Montecito True Value Hardware</h2>
					<p class="ma-p ma-p--default break-word">Hardware</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Rascals Hair Studio</h2>
					<p class="ma-p ma-p--default break-word">Hair Salon</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">450 10th St.</p>
					<p class="ma-p ma-p--default break-word">http://www.rascalshair.com/about.shtml</p>
					<p class="ma-p ma-p--default break-word">(707) 546-5595</p>
					<p class="ma-p ma-p--default break-word">Owners lost home in Coffey Park</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Redwood Family Dermatology</h2>
					<p class="ma-p ma-p--default break-word">Medical</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Rincon Valley Yard & Garden</h2>
					<p class="ma-p ma-p--default break-word">Power equipment</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Roxy Theater / Summerfield Cinemas / Airport</h2>
					<p class="ma-p ma-p--default break-word">Movie Theaters</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">Owners lost house in Fountaingrove</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Royal China</h2>
					<p class="ma-p ma-p--default break-word">Restaurant</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">owners lost home</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>S'wine country BBQ</h2>
					<p class="ma-p ma-p--default break-word">Catering</p>
					<p class="ma-p ma-p--default break-word">Sonoma County</p>
					<p class="ma-p ma-p--default break-word">www.swinecountrybbq.com</p>
					<p class="ma-p ma-p--default break-word">707-528-0939</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Safari West</h2>
					<p class="ma-p ma-p--default break-word">Other</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Sandeen Insurance Services</h2>
					<p class="ma-p ma-p--default break-word">Health Insurance specialists</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">Coddingtown</p>
					<p class="ma-p ma-p--default break-word">Owners lost everything</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Santa Rosa Physical Therapy</h2>
					<p class="ma-p ma-p--default break-word">Physical therapy</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">2255 Challenger Way #104</p>
					<p class="ma-p ma-p--default break-word">Santarosapt.com</p>
					<p class="ma-p ma-p--default break-word">(707)545-1419</p>
					<p class="ma-p ma-p--default break-word">Owner and two therapists lost homes</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Santa Rosa Tires Plus</h2>
					<p class="ma-p ma-p--default break-word">Tires/Auto Service</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Simple Office Solutions</h2>
					<p class="ma-p ma-p--default break-word">Office</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">1831 Guerneville Rd.</p>
					<p class="ma-p ma-p--default break-word">http://simpleofficesolutions.com/</p>
					<p class="ma-p ma-p--default break-word">707-527-5900</p>
					<p class="ma-p ma-p--default break-word">Owner lost home</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Simply Vietnam Express</h2>
					<p class="ma-p ma-p--default break-word">Restaurant</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">3381 Cleveland Ave</p>
					<p class="ma-p ma-p--default break-word">http://simplyvietnamexpress.com/</p>
					<p class="ma-p ma-p--default break-word">(707) 544-4585</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Sole Desire</h2>
					<p class="ma-p ma-p--default break-word">Retail</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Spice Sensuality Boutique</h2>
					<p class="ma-p ma-p--default break-word">Beauty/Spa/Nails/Hair</p>
					<p class="ma-p ma-p--default break-word">Rohnert Park</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Stevenson Supply & Tractor Co</h2>
					<p class="ma-p ma-p--default break-word">Contractor/Erosion Supplies</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">3601 Regional Parkway</p>
					<p class="ma-p ma-p--default break-word">www.StevensonSupply.net</p>
					<p class="ma-p ma-p--default break-word">707-575-3335</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Stockham Construction</h2>
					<p class="ma-p ma-p--default break-word">Construction</p>
					<p class="ma-p ma-p--default break-word">Cotati</p>
					<p class="ma-p ma-p--default break-word">http://www.stockhamconstruction.com/</p>
					<p class="ma-p ma-p--default break-word">(707) 664-0945</p>
					<p class="ma-p ma-p--default break-word">Owner lost home</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Sushi Hana</h2>
					<p class="ma-p ma-p--default break-word">Restaurant</p>
					<p class="ma-p ma-p--default break-word">Sebastopol</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Swanson Real Property, Inc. (Doug Swanson)</h2>
					<p class="ma-p ma-p--default break-word">Real Estate Broker</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">403 Chinn Street</p>
					<p class="ma-p ma-p--default break-word">srealproperty.com</p>
					<p class="ma-p ma-p--default break-word">(707) 636-4440</p>
					<p class="ma-p ma-p--default break-word">Doug found us our dream home</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Tex Wasabi</h2>
					<p class="ma-p ma-p--default break-word">Restaurant</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>The Best Day Spa</h2>
					<p class="ma-p ma-p--default break-word">Massage and facials</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>The Community Medicine Cabinet</h2>
					<p class="ma-p ma-p--default break-word">Clinical Herbalist, Self/Community Care Products, Classes</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>The Hot Tub Store</h2>
					<p class="ma-p ma-p--default break-word">Retail</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">1347 Cleveland Ave</p>
					<p class="ma-p ma-p--default break-word">www.hottubstore.com</p>
					<p class="ma-p ma-p--default break-word">(707)525-1433</p>
					<p class="ma-p ma-p--default break-word">Major shareholder lost his home in Kenwood.</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>The Moon Room</h2>
					<p class="ma-p ma-p--default break-word">Other</p>
					<p class="ma-p ma-p--default break-word">Petaluma</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>The Movement Lab</h2>
					<p class="ma-p ma-p--default break-word">Other</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">Owner didn't lose house; two instructors did</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>The Publican</h2>
					<p class="ma-p ma-p--default break-word">Restaurant</p>
					<p class="ma-p ma-p--default break-word">Windsor</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Thompson Cleaners</h2>
					<p class="ma-p ma-p--default break-word">Cleaners</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Tipsy Taco</h2>
					<p class="ma-p ma-p--default break-word">Restaurant</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Toyo Sushi</h2>
					<p class="ma-p ma-p--default break-word">Restaurant</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">3082 Marlow rd</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Truck Tops USA / Campways Truck Accessory World</h2>
					<p class="ma-p ma-p--default break-word">Auto Parts</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>True Value Hardware, Sebastopol Rd.</h2>
					<p class="ma-p ma-p--default break-word">Hardware</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>True Value on Montecito</h2>
					<p class="ma-p ma-p--default break-word">Hardware</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">Montecito Center</p>
					<p class="ma-p ma-p--default break-word">Owner lost home</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Two Phase Engineering and Research Inc.</h2>
					<p class="ma-p ma-p--default break-word">Geothermal Engineering</p>
					<p class="ma-p ma-p--default break-word">3209 Franz Valley Rd</p>
					<p class="ma-p ma-p--default break-word">Owners lost home</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>U Save Cleaners</h2>
					<p class="ma-p ma-p--default break-word">Cleaners</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">Lewis Road; next to Circle K</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Vantreo Insurance Brokerage</h2>
					<p class="ma-p ma-p--default break-word">Insurance</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Viewpoint Interiors</h2>
					<p class="ma-p ma-p--default break-word">window coverings and interior designs</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">3451 airway drive</p>
					<p class="ma-p ma-p--default break-word">www.viewpointinteriors.com</p>
					<p class="ma-p ma-p--default break-word">(707) 544-1906</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Village Pets</h2>
					<p class="ma-p ma-p--default break-word">Animals</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Village True Hardware</h2>
					<p class="ma-p ma-p--default break-word">Hardware</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Vista Broadband Networks Inc.</h2>
					<p class="ma-p ma-p--default break-word">Internet Service</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Volvos by Morgans</h2>
					<p class="ma-p ma-p--default break-word">Volvo Sales and Service</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">4580 Badger Rd</p>
					<p class="ma-p ma-p--default break-word">http://volvosbymorgans.com</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>W. Johnson Ornamental Stone</h2>
					<p class="ma-p ma-p--default break-word">Landscaping Supply</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<div class="inner-col space-3 space-top-3">
					<h2>Wiggins Electric</h2>
					<p class="ma-p ma-p--default break-word">Electrical Contracting</p>
					<p class="ma-p ma-p--default break-word">Santa Rosa</p>
					<p class="ma-p ma-p--default break-word">1370 Airport Blvd</p>
					<p class="ma-p ma-p--default break-word">7075457869</p>
					<p class="ma-p ma-p--default break-word">Both owners, Dean/Lyz Wiggins and Julie/Floyd Wigins lost their homes.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<p class="padding1"></p>