<div class="container">
<h1>Resources</h1>
	
<p> 1) <strong><a href="http://sonomafireinfo.com/" target="_blank">http://sonomafireinfo.com/</a></strong> - they offer updates and list of full resources</p>

<p>2) Join this facebook group - <a style="word-wrap: break-word;" href="https://www.facebook.com/groups/586292148428439/" target="_blank"> https://www.facebook.com/groups/586292148428439/</a></p>

<p>3) Signup for live Nixle alerts: Text your ZIP code to 888-777</p>

<hr>
<p>If you have any other resources please let me know at sonomawebdesign@gmail.com</p>

</div>

