<div class="container ma-p ma-p--default">
<h1>Why...</h1>

<p>I saw a post on a facebook that read:</p>

<blockquote>
  <p class="ma-p ma-p--default">Let's start a list of businesses that we know have helped in one way or another to support for future. Whether it be by donating supplies, space for shelter, donating food to evacuees/first responders. These are the businesses that in these hard times giving back that we should be supporting.</p>
  <footer>Posted By: <cite title="Source Title">Ivette Celedon</cite></footer>
</blockquote>

 <%= image_tag("how_it_started.png", {:class => "img-responsive align-right", :style => "width: 450px;"}) %>


<p class="ma-p ma-p--default space-top-5 space-5">This post had me wondering, "how I can return the favor and give thanks to all these noble businesses giving back to the community?" The solution I ended up with was to develop a website that featured all of the positive businesses and honored them. But then I continued thinking of other ways to give thanks to them. I discovered another way to give back to these businesses is to like them on social media and leave them positive online reviews. Having a big following and lots of reviews is great P.R for businesses and leads to a higher chance of success. For example, studies have shown that we are more likely to visit a business that has lot's of 5 star reviews. If everyone one in the community left a good review and liked these businesses on their social media profile we would be helping them out in their marketing and giving back to them for their good deeds.  </p>

<hr>

<p class="container ma-p ma-p--default">#SonomaProud #SonomaStrong #AlwaysLove</p>

</div>